@import './base/core';
@import './components/NavBar';
@import './components/ArtistsMain';
@import './components/ArtistBox';
@import './components/SearchBar';
@import './components/AlbumsMain';
@import './components/AlbumBox';
@import './components/TracksMain';
@import './components/TrackBox';
@import './components/DetailBox';
@import './components/NewReleasesMain';
@import './components/NewReleaseBox';
@import './components/Jumbotron';
@import './components/Auth';
@import './components/Login';

@import url('https://fonts.googleapis.com/css?family=Bitter|Roboto:300');
body, html { 
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height:100%; 
  background-color: #FFFCF9;
}




