/node_modules
node_modules/
/node_modules/

/public/bundle.js
/public/bundle.js/
public/bundle.js/

/public/bundle.js.gz
/public/bundle.js.gz/
public/bundle.js.gz/

/public/bundle.js.map
/public/bundle.js.map/
public/bundle.js.map/

npm-debug.log/
config.js
config/
.vscode