.wrapper-box {
  margin-top: 0;
  padding: 0;
  font-size: 1.25em; 
  color: #FFFCF9;
  font-weight: bold;
  .card-for-album {
    width: auto;
    height: auto;
    .img-wrap {
      img {
      height: 24em;
      width: 100%;
      /*border: 1px solid #FFFCF9;*/
      }
    }
    .album-box {
      /*background-color: #26547C;*/
      /*opacity: 0.75;*/
      background-color: #2B4162;
      text-align: center;
      padding: 0.25em;      
      span  {
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        display: flex;
        padding: 0.25em;
      }
      .get-track-btn {
        border-radius: 0px;
        margin: 1.25em 0.5em;
        background-color: #FFD166;
        font-size: 1.15em;
        font-weight: bold;
        color: #FFFCF9 !important ;
      }
      .get-track-btn:hover, 
      .get-track-btn:focus,
      .get-track-btn:active, 
      .get-track-btn.active, {
        background-color: #FFD166;
        color: #FFFCF9 !important ;
      }
    }
  }  
}