.wrapper-box {
  margin: 0;
  padding: 0;
  .card-for-artist {
    width: auto;
    height: auto;
    // padding: 0.25em;
    // border-top: 1px solid #5cb85c;
    // min-width: 100%;
    // min-height: 100%;
    // display:block;
    .img-wrap {
      // text-align:center;
      // height: 25em;
      // width: 30em;
      // width: 100%;
      // height: 100%;
      // display:block;
      img {
      height: 24em;
      width: 100%;
      // width:100%;
      // height:auto;
      }
    }
    .artist-box {
      // margin-top: 0.75em;
      border:1px solid green;
      // background-color: #5cb85c;
      background-color: #4F9D67;
      span {
        text-align: center;
        display: flex;
        padding: 0.75em;
      }
      .titles {
        text-align:center;      
      }
      .get-album-btn {
        // border: 1px solid black;
        border-radius: 0px;
        margin-bottom: 0.25em;
        margin-left: 0.25em;
      }
    }
  }  
}