.artists-main-box {
  .back {
    border-radius: 0;
    margin: 1.5rem 1rem;
    font: 1rem;
    font-weight: bold;
    background-color: #26547C;
    color: #FFFCF9;
  }
}

.artists-main-container {
  background-color:#f6f6f6;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
}