
.wrapper-box {
  margin-top: 0;
  padding: 0;
  font-size: 1.25em; 
  color: #FFFCF9;
  font-weight: bold;
  .card-for-artist {
    width: auto;
    height: auto;
    .img-wrap {
      img {
      height: 24em;
      width: 100%;
      border: 1px solid #FFFCF9;
      }
    }
    .artist-box {
      background-color: #26547C;
      text-align: center;
      padding: 0.25em;      
      span  {
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        display: flex;
        padding: 0.25em;
      }
      .get-album-btn {
        border-radius: 0px;
        margin: 1.25em 0.5em;
        background-color: #FFD166;
        font-size: 1.15em;
        font-weight: bold;
        color: #26547C;
        opacity: 0.75;
      }
      .one-to-twenty, .zero, 
      .twenty-to-forty, 
      .forty-to-sixty, 
      .sixty-to-eigthty,
      .eigthty-plus {
        display: inline-flex;
      }
    }
  }  
}