.jumbotron {
  padding: 2.75rem;
  background-color: #26547C;
  opacity: 0.75;
  color: #FFFCF9;
  min-height: 15rem;
  .title {
    font-family: 'Bitter', serif;
    font-size: 3rem;
    font-weight: bold
  }
  .lead {
    padding: 2rem 1rem;
    line-height: 3rem;
    width: 75%;
    margin: auto;
    font-size: 1.75rem;
    font-weight: 100;
  }
  .letters {
    font-family: 'Bitter', serif;
    font-size: 3rem;
    color: #FFD166;
    font-weight: bold;
  }
}