.login {
  margin: auto;
  width: 75%;
  padding: 2.75rem;
  background-color: #26547C;
  opacity: 0.75;
  color:#FFFCF9;
  /*color:#EF476F;*/
  text-align: center;
  border-bottom-right-radius: 12em;
  border-bottom-left-radius: 12em;
  min-height: 50em;
  h1 {
    font-family: 'Bitter', serif;
    margin: 2em 1rem;
  }
  h2, h3, h4 {
    margin: 2em 1rem;
    text-align: center;
  }
  svg {
    margin-top: 3rem;
    height: 10em;
    width:25em;
  }
}