.login {
  margin: auto;
  width: 75%;
  padding: 2.75rem;
  background-color: #FFD166;
  opacity:0.75;
  h2, h4 {
    margin: 2em 1rem;
  }
  svg {
    /*margin: 1.5rem;*/
    height: 5em;
    width:15em;
  }
}