.login {
  margin: auto;
  width: 95%;
  padding: 2.75rem;
  background-color: #FFD166;
  color:#EF476F;
  opacity:1;
  text-align: center;
  h2, h3, h4 {
    margin: 2em 1rem;
    text-align: center;
  }
  svg {
    height: 5em;
    width:15em;
  }
}