.nav-container {
  font-family: 'Bitter', serif;
  background-color: #FFD166;
  min-height: 7em;
  text-align: center;
  color:#ff8566;
  font-weight: bold;
  opacity: 1;
  nav {
    margin: 1em;
    display: inline-block;
    text-align:center; 
    p {
      margin-top: 0.25em;
      font-size: 4.0em;
    }
  } 
}