.nav-container {
  background-color: #FFD166;
  min-height: 8em;
  text-align: center;
  color:#EF476F;
  font-weight: bold;
  nav {
    margin: 1em;
    display: inline-block;
    text-align:center; 
    h1 {
      margin-top: 0.25em;
      font-size: 3.5em
    }
  } 
}